body {
  background-color: #08086b;
  color: #ffffff;
}

footer {
  font-size: 13px;
  padding-bottom: 0;
  padding-top: 30px;

  text-align: center;
  margin-bottom: 0;
}
h1 {
  color: #ffffff;
  font-family: "Indie Flower", cursive;
  font-size: 65px;
  padding-top: 10px;
  margin-bottom: 0;
}
h2 {
  color: #ffffff;
  font-family: "Indie Flower", cursive;
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}
.local-time {
  font-size: 12px;
}

.btn-primary {
  background: #08086b;
  border-color: #ffffff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active:focus {
  background-color: #43b6f0;
  border-color: #08086b;
  outline: none;
  box-shadow: none;
}

.btn-info {
  background: #08086b;
  border-color: #ffffff;
}
.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus,
.btn-info:active:focus {
  background: #43b6f0;
  border-color: #08086b;
  outline: none;
  box-shadow: none;
}

.container {
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
}
.weather-app {
  background: linear-gradient(
    109.6deg,
    rgb(9, 9, 121) 11.2%,
    rgb(144, 6, 161) 53.7%,
    rgb(0, 212, 255) 100.2%
  );

  border: 1px solid #dedde1;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 450px;
  padding: 15px;
}
.day-time {
  font-size: 15px;
  padding-top: 75px;
  text-align: center;
}
.city-temp {
  text-align: center;
}
.weather-data {
  padding-top: 75px;
  text-align: center;
  font-size: 15px;
}
.cityName {
  font-size: 25px;
  font-weight: bolder;
}
.temp-wrap {
  font-size: 30px;
}
.temp-wrap .active {
  color: #ffffff;
  cursor: default;
  text-decoration: none;
}

.units {
  font-size: 16px;
  position: relative;
  text-decoration: none;
  top: -10px;
}

.icon {
  font-size: 60px;
  line-height: 1;
  padding-bottom: 0px;
}
.description {
  line-height: 1;
  padding-bottom: 10px;

  text-transform: capitalize;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.forecast-date {
  font-size: 14px;
  opacity: 0.6;
}
.forecast-temperature {
  font-size: 12px;
}
.forecast-temperature-min {
  opacity: 0.7;
}
