body {
  background-color: #08086b;
  color: #ffffff;
}
footer {
  padding: 20px;
  text-align: center;
}

.container {
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
}
.weather-app {
  border: 1px solid #dedde1;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 450px;
  padding: 15px;
}
.day-time {
  padding-top: 75px;
  text-align: center;
}
.city-temp {
  text-align: center;
}
.weather-data {
  padding-top: 75px;
  text-align: center;
}
.cityName {
  font-size: 25px;
  font-weight: bolder;
}
.temp {
  font-size: 27px;
}
.units {
  font-size: 14px;
  position: relative;
  top: -8px;
}
.highLow {
  padding-bottom: 10px;
}

.icon {
  font-size: 60px;
  line-height: 1;
  padding-bottom: 5px;
}
.description {
  font-size: 14px;
  line-height: 1;
  padding-bottom: 10px;
}
